.btn{
  grid-area: btn;
  width: 100%;
  background: #2196F3;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 15px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

